* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body > div {
    display: none;
}
.container {
    max-width: 992px;
    height: 100%;
    margin: auto;
}

body {
    color: $textColor;
}
